name: Release Drafter

on:
  push:
    branches:
      - prod

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Update Draft Release
        if: startsWith(github.ref, 'refs/heads/release/')
        uses: release-drafter/release-drafter@v6
        with:
          config-name: template/release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Release
        if: github.ref == 'refs/heads/main'
        id: drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: template/release-drafter.yml
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge main into QA Branch
        run: |
          git fetch origin prod
          git checkout dev
          git merge origin/main --no-ff -m "Auto merge: Reflect changes from main to QA"
          git push origin dev
            
